# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE & Tooling
.vscode/
.agents/
.claude/
.gradio/
ML_COURSE_PROJECT/

# Temporary files & logs
*.tmp
*.log
server.log

# OS files
.DS_Store
Thumbs.db

# Dataset
dataset/
